.input {
  @apply w-full p-4 bg-zinc-900 border border-zinc-800 rounded-xl 
  focus:outline-none focus:ring-2 focus:ring-blue-600 text-white;
}

.card {
  @apply bg-zinc-900 p-8 rounded-2xl border border-zinc-800;
}
